@media(max-width:1070px) {
    .header {
        flex-direction: column;
    }

    .header .logo-bank h1 {
        font-size: 40px;
    }

    .menus {
        flex-direction: column;
        margin-top: 50px;
    }

    .menus h2:last-child {
        margin-top: 30px;
    }

    .menus h2 {
        padding: 20px;
        font-size: 40px;
    }

    .menus h2 a {
        font-size: 40px;
        padding: 17px 30px;
    }

    .menus h2 a.Cadastro {
        font-size: 35px;
    }
}